<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stewart.building.mbg.mapper.ExperimentAppointmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stewart.building.mbg.pojo.ExperimentAppointment">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="status" property="status" />
        <result column="clazz_id" property="clazzId" />
        <result column="experiment_id" property="experimentId" />
        <result column="timz_id" property="timzId" />
        <result column="teacher_id" property="teacherId" />
        <result column="times" property="times" />
        <result column="exp_teacher_id" property="expTeacherId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, status, clazz_id, experiment_id, timz_id, teacher_id, times, exp_teacher_id
    </sql>

</mapper>
