<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stewart.building.mbg.mapper.TimzMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stewart.building.mbg.pojo.Timz">
        <id column="id" property="id" />
        <result column="time_period" property="timePeriod" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, time_period
    </sql>

</mapper>
